---
import Heading from "../components/Heading.astro";
import Layout from "../layouts/Layout.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<Layout title="ruben-mate">
    <section>
        <Heading title="Blog" />
        <div class="h-5"/>
        <content>
            <ul class="md:w-11/12 mx-auto">
                {posts.map((post) => (
                    <li class="flex flex-col mb-3 w-11/12 md:w-10/12 mx-auto rounded-md
                        hover:bg-primaryLight dark:hover:bg-primaryDark hover:bg-opacity-10 dark:hover:bg-opacity-10">
                        <a href={post.url} class="p-2">
                                <h2 class="font-bold text-2xl">{post.frontmatter.title}</h2>
                                <p>{post.frontmatter.description}</p>
                                <time class="text-sm opacity-60" datetime={post.frontmatter.pubDate}>
                                    {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                                        year: 'numeric',
                                        month: 'short',
                                        day: 'numeric',
                                    })}
                                </time>
                        </a>
                    </li>
                ))}
            </ul>
        </content>
    </section>
</Layout>
