---
import Layout from '../layouts/Layout.astro';
import AvatarImage from '../components/AvatarImage.astro';
---

<Layout title="ruben-mate">
    <section>
        Hello, my name is Rubén Maté and I'm a front end developer from Spain
    </section>

    <div class="h-7" />

    <AvatarImage />
    <section>
        <h2>
            Whoami
        </h2>
        <p>
            I'm a last year student of Computer Science degree in Burgos University. I love everything related to coding and learning new programming languages and frameworks but I'm mostly learning web development.
            My developer workflow revolves around the terminal and I have my own Neovim config and dotfiles.
            Thanks for stopping by!
        </p>
        <button>Check my latest blog posts! ChevRightIcon</button>
    </section>
    <section>
        <h2>
            Projects
        </h2>
        <ul>
            <li>New homepage rebuilt with astro</li>
            <li>Pokedex App</li>
            <li>Old home page built with next js</li>
            <li>To-Do App</li>
        </ul>
    </section>
    <section>
        <h2>
            Skills
        </h2>
        <ul>
            <li>JS</li>
            <li>TS</li>
            <li>React</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Git</li>
        </ul>
    </section>
    <section>
        <h2>
            Web presence
        </h2>
        <ul>
            <li><a href="">GhIcon @rubenmate</a></li>
            <li><a href="">LInIcon @ruben-mate</a></li>
        </ul>
    </section>
</Layout>
