---
import { IoArrowForward } from "react-icons/io5/index"

import Layout from '../layouts/Layout.astro';
import AvatarImage from '../components/AvatarImage.astro';
import Skills from '../components/Skills.astro';
import Heading from '../components/Heading.astro';
import Button from "../components/Button.astro";
---

<Layout title="ruben-mate">
    <div class="h-7" />

    <section class="w-11/12 mx-auto bg-primaryLight rounded-md text-white text-center p-2">
        Hello, my name is 
        <code class="border border-white rounded-sm p-1">Rubén Maté</code>
        and I'm a front end developer from Spain
    </section>
    <div class="h-7" />

    <AvatarImage />
    <div class="h-7" />

    <section>
        <Heading title="Whoami" />
        <div class="h-3"/>
        <p>
            I'm a last year student of Computer Science degree in Burgos University. I love everything related to coding and learning new programming languages and frameworks but I'm mostly learning web development.
            My developer workflow revolves around the terminal and I have my own Neovim config and dotfiles.
            Thanks for stopping by!
        </p>
        <a href="/posts" class="flex justify-center my-2">
            <Button>
                <span class="mr-2">Check my latest blog posts! </span><IoArrowForward />
            </Button>
        </a>
    </section>
    <div class="h-7" />

    <section>
        <Heading title="Projects" />
        <div class="h-3"/>
        <ul>
            <li>New homepage rebuilt with astro</li>
            <li>Pokedex App</li>
            <li>Old home page built with next js</li>
            <li>To-Do App</li>
        </ul>
    </section>
    <div class="h-7" />

    <Skills />

    <section>
        <Heading title="Web presence" />
        <div class="h-3"/>
        <ul>
            <li><a href="">GhIcon @rubenmate</a></li>
            <li><a href="">LInIcon @ruben-mate</a></li>
        </ul>
    </section>
</Layout>
