---
---
<div class="flex justify-center">
    <img 
        src="/images/profileimage.png" 
        alt="Avatar picture memoji" 
        class="max-h-[150px] border-2 rounded-full border-primaryLight bg-gradient-to-t
        from-primaryLight to-white hover:from-violet-500 hover:to-white"/>
</div>
