---
---
<div class="flex justify-center">
    <img 
        src="/images/profileimage.png" 
        alt="Avatar picture memoji" 
        class="max-h-[150px] border-2 rounded-full border-primaryLight dark:border-primaryDark bg-gradient-to-t
        from-primaryLight to-white dark:from-primaryDark dark:to-black hover:from-violet-500 hover:to-white 
        dark:hover:from-orange-500 dark:hover:to-black"/>
</div>
