---
---
<div class="h-6"/>
<footer class="block text-center sm:text-left sm:flex sm:justify-center font-['JetBrains_Mono'] text-xs sm:text-sm opacity-[.40]">
    &copy; {new Date().getFullYear()} Rubén Maté | Design inspired by&nbsp;
    <a href="https://www.craftz.dog/" target="_blank" class="underline">craftzdog</a>
</footer>
<div class="h-6"/>
