---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props as Props;
const isActive = href === Astro.url.pathname;
---
<a href={href} class={isActive ? 'bg-primaryLight rounded-sm p-2 text-white' : ''} {...props}><slot /></a>
