---
import { IoMoon,/* IoSunnyOutline, */IoLogoGithub } from "react-icons/io5/index";
import HeaderLink from "./HeaderLink.astro";
---
<header class="fixed z-10 w-full">
    <nav class="flex justify-between items-center max-w-4xl mx-auto p-2 backdrop-blur-md">
        <div class="px-2 py-1 rounded-md hover:bg-gray-100">
            <a href="/">
                <h1 class="text-4xl font-bold font-['M_Plus_Rounded_1c']">rm.</h1>
            </a>
        </div>
        <div>
            <ul class="flex flex-row items-center space-x-5 font-semibold">
                <li class="hover:underline">
                    <HeaderLink href='/blog'>Blog</HeaderLink>
                </li>
                <li class="hover:underline">
                    <HeaderLink href="/contact">Contact</HeaderLink>
                </li>
                <li class="hover:underline">
                    <a 
                        href="https://github.com/rubenmate" 
                        target="_blank" 
                        class="flex items-center space-x-1 p-[.35rem] bg-white bg-opacity-40 rounded-md">
                        <IoLogoGithub/>
                        <span>GitHub</span>
                    </a>
                </li>
                <button class="p-3 bg-primaryLight rounded-md text-white hover:bg-opacity-90">
                    <IoMoon/>
                </button>
            </ul>
        </div>
    </nav>
</header>
<div class="h-16" />
