---
import Heading from "./Heading.astro";
---

<section>
    <Heading title="Projects" />
    <div class="h-5"/>
    <ul class="w-11/12 mx-auto text-justify">
        <li class="mb-2">
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://rubenmate.com" target="_blank">Rebuilt
                homepage</a>{": "}
            Using Astro framework and TailwindCSS.
            <br/>Source code on 
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://github.com/rubenmate/homepage" target="_blank">GitHub</a>
        </li>
        <li class="mb-2">
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://pokedex.rubenmate.com/" target="_blank">Pokedex App</a>{": "}
            Project to experiment with a fullstack aproach to web development. 
            It uses a stack consisting of Next.js, tRPC and Tailwind. 
            <br/>Source code on 
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://github.com/rubenmate/pokedex-app" target="_blank">GitHub</a>
        </li>
        <li class="mb-2">
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://homepage-rubenmate.vercel.app/" target="_blank">My own homepage</a>{": "}
            Built with Next.js as a React framework and ChakraUI (an accesible 
            library for React components).
            <br/>Source code on 
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://github.com/rubenmate/nextjs-homepage" target="_blank">GitHub</a>
        </li>
        <li>
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://todo-list-rubenmate.vercel.app/" target="_blank">To-Do App</a>{": "}
            Simple To-Do List app written in React. Built for learning the React 
            fundamentals with Typescript. It is also using Vite and TailwindCSS.
            <br/>Source code on 
            <a class="font-bold text-primaryLight hover:underline" 
                href="https://github.com/rubenmate/todo-list" target="_blank">GitHub</a>

        </li>
    </ul>
</section>
<div class="h-7" />
