---
import Heading from "./Heading.astro";
---

<section>
    <Heading title="Work Experience" />
    <div class="h-5"/>
    <ul class="w-11/12 mx-auto text-justify">
        <li class="mb-2">
            <div class="flex justify-between text-lg">
                <div class="font-bold text-primaryLight dark:text-primaryDark underline flex items-center">
                    Full Stack Developer at Implemental Systems
                </div>
                <div class="text-md font-bold underline text-left">
                    Aug 2023 - Aug 2024
                </div>
            </div>

            <div class="h-4"/>

            Working on both frontend and backend web development,
            with a strong emphasis on creating GIS systems based 
            on the web environment. On the frontend, I've utilized 
            technologies such as <span class="font-bold">React</span>, 
            <span class="font-bold">Three.js</span>, <span class="font-bold">Leaflet</span>, and <span class="font-bold">OpenLayers</span>.
            For backend development, I've worked with <span class="font-bold">Express</span> and <span class="font-bold">Spring Boot</span>.
            Additionally, I have experience deploying applications and infrastructure 
            using <span class="font-bold">Docker</span>.
        </li>
        <li class="mb-2">
            <div class="flex justify-between text-lg">
                <div class="font-bold text-primaryLight dark:text-primaryDark underline flex items-center">
                    Backend Software Developer at Globant
                </div>
                <div class="text-md font-bold underline text-left">
                    Sept 2024 - Present
                </div>
            </div>

            <div class="h-4"/>

            Developed and maintained an internal application for Iberia flight crew (TCP) employees.
            Backend development involved designing and implementing RESTful APIs and microservices using 
            <span class="font-bold">Java</span> and <span class="font-bold">Spring Boot</span>, integrating with SQL databases.
            On the frontend, built an iOS app using <span class="font-bold">Angular</span> and <span class="font-bold">Ionic</span>
            to deliver a native-like experience.
            Deployed and managed application components on <span class="font-bold">AWS</span> to ensure scalability and reliability.
            Collaborated closely with product owners and teams to deliver features aligned with business needs.
        </li>
    </ul>
</section>
<div class="h-7" />
