---
import Heading from "./Heading.astro";
---

<section>
    <Heading title="Work Experience" />
    <div class="h-5"/>
    <ul class="w-11/12 mx-auto text-justify">
        <li class="mb-2">
            <div class="flex justify-between text-lg">
                <div class="font-bold text-primaryLight dark:text-primaryDark underline">
                    Full Stack Web Development at Implemental Systems
                </div>
                -
                <div class="font-bold underline">
                    2023 - present
                </div>
            </div>

            <div class="h-4"/>

            Working on both frontend and backend web development,
            with a strong emphasis on creating GIS systems based 
            on the web environment. On the frontend, I've utilized 
            technologies such as <span class="font-bold">React</span>, 
            <span class="font-bold">Three.js</span>, <span class="font-bold">Leaflet</span>, and <span class="font-bold">OpenLayers</span>.
            For backend development, I've worked with <span class="font-bold">Express</span> and <span class="font-bold">Spring Boot</span>.
            Additionally, I have experience deploying applications and infrastructure 
            using <span class="font-bold">Docker</span>.
        </li>
    </ul>
</section>
<div class="h-7" />
